.cabinet {
  margin-top: 255px;
  // .cabinet__wrap
  &__wrap {
    display: flex;
    gap: 50px;
    padding-top: 15px;
    padding-bottom: 30px;
  }
  // .cabinet__menu
  &__menu {
    width: 25%;
    flex-shrink: 0;
  }
  // .cabinet__link
  &__link {
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    border: 1px solid #1e1e1e;
    background: #fff;
    padding: 12px 15px;
    display: flex;
    align-items: center;
    gap: 26px;
    &:not(:last-child) {
      margin-bottom: 15px;
    }

    svg {
      width: 30px;
      height: auto;
      pointer-events: none;
    }

    p {
      color: #1e1e1e;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 134.688%;
      pointer-events: none;

      span {
        font-weight: 300;
        display: block;
      }
    }
  }
  // .cabinet__link--active
  &__link--active {
    border-color: #35b8ff;

    svg {
      path,
      circle {
        stroke: #35b8ff;
      }
    }

    p {
      color: #35b8ff;
    }
  }
  // .cabinet__link-out
  &__link-out {
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: flex;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);

    svg {
      width: 100%;
      height: 100%;
    }
  }
  // .cabinet__body
  &__body {
    width: 100%;
  }
  // .cabinet__content
  &__content {
    display: none;
    width: 100%;

    &-data {
    }
  }
  // .cabinet__content--active
  &__content--active {
    display: block;
  }
  // .cabinet__group
  &__group {
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }
  // .cabinet__row
  &__row {
    padding-left: 20px;

    &.edit {
      .cabinet__form {
        display: block;
      }
      .cabinet__info {
        display: none;
      }
    }
  }
  // .cabinet__form
  &__form {
    display: none;
  }
  // .cabinet__info
  &__info {
    display: block;
  }
}

.cabinet-info {
  // .cabinet-info__row
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  // .cabinet-info__group
  &__group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
  }
  // .cabinet-info__item
  &__item {
    display: flex;
    flex-direction: column;
    gap: 11px;

    p {
      color: #1e1e1e;
      font-size: 15px;
      font-style: normal;
      font-weight: 300;
      line-height: 100%;
    }

    h5 {
      color: #1e1e1e;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
    }
  }
  // .cabinet-info__btn
  &__btn {
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #35b8ff;
    background: #fff;
    padding: 12px 14px;
    display: flex;
    align-items: center;
    gap: 10px;

    svg {
      width: 24px;
      height: auto;
    }

    span {
      color: #35b8ff;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
    }
  }
}

.cabinet-form {
  // .cabinet-form__row
  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10%;
    &:not(:last-child) {
      margin-bottom: 15px;
    }

    .modals-field {
      .field-input {
        color: #1e1e1e;

        &::placeholder {
          color: #1e1e1e;
        }

        &.nice-select {
          line-height: 26px;
          .current {
            color: #1e1e1e;
            font-family: Geometria;
            font-size: 15px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
          }

          .list {
            width: 100%;
          }
        }
      }
    }
  }
  // .cabinet-form__btns
  &__btns {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 30px;
  }
  // .cabinet-form__btn
  &__btn {
    cursor: pointer;
    width: 150px;
    height: 46px;
    flex-shrink: 0;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  // .cabinet-form__btn--blue
  &__btn--blue {
    color: #fff;
    background: #35b8ff;
  }
  // .cabinet-form__btn--border
  &__btn--border {
    border: 1px solid #35b8ff;
    color: #35b8ff;
    background: #fff;
  }
}

.cabinet-content {
  // .cabinet-content__head
  &__head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    .title {
      &--f0 {
        flex: 1 1 100%;
        margin-bottom: 30px;
      }
    }

    .navbar-search {
      margin: 0;
      max-width: 375px;
      border-color: #1e1e1e;

      .navbar-search__icon {
        border-color: #1e1e1e;
      }

      .navbar-input {
        border-color: #1e1e1e;
        color: #1e1e1e;
        margin: 7px 7px 7px 0;
      }

      .navbar-btn {
        background-color: inherit;
        border-color: #1e1e1e;
        color: #35b8ff;
        padding: 10px 23px;

        @media (any-hover: hover) {
          &:hover {
            background-color: #35b8ff;
            color: #fff;
          }
        }
      }
    }
  }

  &-head {
    &__row {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.agreement {
  padding: 12px 0 12px 12px;
  border-radius: 10px;
  border: 1px solid #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // .agreement__layout
  &__layout {
    display: grid;
    gap: 15px;
    margin-bottom: 32px;
  }
  // .agreement__picture
  &__picture {
    width: 85px;
    height: 85px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }
  // .agreement__col
  &__col {
    width: calc((100% - 85px) / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    h5 {
      color: #1e1e1e;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
    }

    p {
      color: #1e1e1e;
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      line-height: 100%;
    }

    &:nth-child(3) {
      border-left: 1px solid #1e1e1e;
      border-right: 1px solid #1e1e1e;
    }
  }
}

.payment-card {
  border-radius: 10px;
  border: 1px solid #35b8ff;
  width: 288px;
  height: auto;
  min-height: 180px;
  padding: 12px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // .payment-card__layout
  &__layout {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  // .payment-card__top
  &__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  // .payment-card__head
  &__head {
    h5 {
      color: #000;
      font-size: 15px;
      font-style: normal;
      font-weight: 300;
      line-height: 134.688%;
    }
  }
  // .payment-card__num
  &__num {
    border-radius: 10px;
    border: 1px solid #35b8ff;
    width: 206px;
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 134.688%;
    padding: 4px 7px;
  }
  // .payment-card__delete
  &__delete {
    cursor: pointer;
    width: 24px;
    height: 24px;
    flex-shrink: 0;

    svg {
      width: 100%;
      height: 100%;
    }
  }
  // .payment-card__bottom
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h5 {
      color: #000;
      font-size: 15px;
      font-style: normal;
      font-weight: 300;
      line-height: 134.688%;
    }
  }
  // .payment-card__type
  &__type {
    display: flex;
  }
  // .payment-card__add
  &__add {
  }
  // .payment-card__row
  &__row {
    display: flex;
    align-items: center;
    gap: 30px;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  // .payment-card__field
  &__field {
  }
  // .payment-card__label
  &__label {
    display: block;
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 134.688%;
  }
  // .payment-card__input
  &__input {
    border-radius: 10px;
    border: 1px solid #35b8ff;
    padding: 4px 7px;
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 134.688%;

    &--cvv {
      max-width: 47px;
    }
  }
  // .payment-card__date
  &__date {
    display: flex;
    align-items: center;
    gap: 4px;
    input {
      max-width: 35px;
    }
    span {
      color: #35b8ff;
      text-align: center;
      font-size: 15px;
      font-style: normal;
      font-weight: 300;
      line-height: 134.688%;
    }
  }
  // .payment-card__btn
  &__btn {
    border-radius: 10px;
    border: 1px solid #35b8ff;
    background: #fff;
    width: 77px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #35b8ff;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
  }
  // .payment-card__plus
  &__plus {
    width: 288px;
    height: auto;
    cursor: pointer;
    svg {
      width: 100%;
      height: 100%;
    }
  }
}
